
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 2px -2px gray;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* nav */
nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

#botones{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap:5px;
    margin:5px;
    
}

#botones img {        
    object-fit: contain;
    display: block; 
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

article img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
}

article button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}


/* formulario */
#parteFomulario {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

/* galería */
#galeria {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 15px;
}

#galeria figure {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#galeria img {
    width: 100%;
    border-radius: 5px;
}

/* Paginación */
#botonPaginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#botonPaginacion button {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}



/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 2px -2px gray;
}

footer a {
    color: white;
    text-decoration: none;
}



/* Estilos Responsivos */

/*---------------------------------------------
                576px
-----------------------------------------------
*/


@media screen and (min-width: 576px) {
    #galeria {
        grid-template-columns: repeat(2, 1fr); 
    }
}
/*--------------------------------------------
                576px
                768px
----------------------------------------------
*/

@media screen and (min-width: 768px) {
    #galeria {
        grid-template-columns: repeat(3, 1fr); 
    }
}
/*--------------------------------------------
                768px
                1200px
----------------------------------------------
*/

@media screen and (min-width: 1200px) {
    #galeria {
        grid-template-columns: repeat(4, 1fr); 
    }
}
